<%- include("partials/header") %>
    <header style="margin: 0;">
        <a class="link" href="/profile" style="width: 100px; padding: 5px 10px;">Profile</a>
        <h1 style="text-align: center;">No Man's Land</h1>
        <div>
            <a class="link" href="/" style="width: 100px; padding: 5px 10px;">home</a>
            <% if(typeof username !=='undefined' ){ %>
                <a class="link" href="/logout" style="width: 100px; padding: 5px 10px;">Log out</a>
                <% } else{ %>
                    <a class="link" href="/login" style="width: 100px; padding: 5px 10px;">Login</a>
                    <% } %>
        </div>
    </header>
    <main>
        <div id="editusers" style="width: min(500px, 90%); display: grid; place-items: center;">
            <a class="link" href="/admin" style="width: 100%; padding: 5px 10px;">Admin panel</a>
            <h1 id="bountytitle" style="margin-bottom: 0;">All users</h1>
        </div>
        <hr>
            <table>
                <tr>
                    <td>Killer</td>
                    <td>killed</td>
                    <td>worth</td>
                    <td style="padding:0 60px;">button</td>
                </tr>
                <% collectedbounty.forEach((bounty)=> { %>
                    <form action="/bankconfirm" method="post">
                        <tr>
                            <td><%= bounty.killer %></td>
                            <td><%= bounty.killed %></td>
                            <td><%= bounty.price %></td>
                            <input type="text" name="collectedbountyID" style="display: none;" value="<%= bounty.collectedbountyID %>">
                            <td><button class="link">confim payment</button></td>
                        </tr>
                    </form>
                    <% }); %>
                </table>
        </main>
    <%- include("partials/footer") %>