<%- include("partials/header") %>
   
<div class="containerform">
    <div class="loginform">
        <img src="../images/<%= image %>" alt="" width="100%">
        <h3 style="margin-top: 10px;">Name: <%= username %></h3>
        <%if(query != undefined){%>
        <h4>Bounty price: ৳<%= query.price %></h4>
        <h4>Bounty password: <%= query.secretcode %></h4>
        <% } %>
        <div style="display: grid; place-items: center;">
            <% if(query != undefined){%>
            <p class="link" style="text-align: center; background-color: #790202; color: #fff; padding: 10px 0; margin-top: 20px;">You are wanted!!!</p>
            <%} else{%>
            <p class="link" style="text-align: center; background-color: #02794d; color: #fff; padding: 10px 0; margin-top: 20px;">You are safe from danger</p>
            <% } %>
        </div>
        <a class="link profilehome" href="/collected">Bounty history</a>
        <a class="link profilehome" href="/">Home</a>
    </div>
</div>


